* {
    margin: 0;
    padding: 0;
}

:root {
    --corPrincipal: #FCC419;
    --corTexto: #0F0F0F;
    --corTextoSecundaria:  #888888;
    --corHover: #333333;

    --fontePrincipal: "Montserrat", sans-serif;
    --fonteTitulo: 'Krona One', sans-serif;
}

body {
    background-color: var(--corDeFundo);
    color: var(--brancoPrincipal);
    font-family: var(--fontePrincipal);
    font-size: 1rem;
    font-weight: 400;
}

.maps {
    color: var(--corTexto);
    width: 50%;
    text-decoration: none;
    border-radius: 0.75rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.35rem 0;
    border: 0.125rem groove var(--corTexto);;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.maps:hover {
    background: radial-gradient(circle at center, var(--corTextoSecundaria), var(--corPrincipal));
    transform: scale(1.1);
}