.pageLanding {
    background: linear-gradient(320deg, #FFE718 0%, var(--corPrincipal) 100%);

    min-height: 100vh;
    text-align: center;

    display: flex;

}

.container {
    margin: auto;
    width: min(90%, 112rem);
}

.logo {
    width: 100%;
    animation-delay: 50ms;
}

.location {
    animation-delay: 110ms;
}

main h1 {
    animation-delay: 170ms;
}

.location, h1, .find p {
    height: 16vh;
}

.find p {
    animation-delay: 230ms;
}

.find a {
    width: 8rem;
    height: 8rem;
    background: var(--corTextoSecundaria);

    border: none;
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

    transition: background 260ms;

    animation-delay: 260ms;
}

.find a:hover {
    background-color: var(--corRealce);
}


/*desktop version*/
@media (min-width: 1020px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .location, h1, .find p {
        height: initial;
        font-size: 2rem;
        text-align: initial;
    }

    .logo {
        width: 80%;
    }

    .location{
        text-align: right;
    }

    main h1 {
        font-size: clamp(4rem, 3rem, 8rem);

        width: min(550px, 90%);
    }

}

@media (max-width: 1020px) {
    .find a {
        width: 80%;
        height: 80%;
    }
}